body {
  font-family: 'Verdana', sans-serif;
  width: 565px;
  margin: auto;
  text-align: center
}

h1, h2, h3 {
  font-family: 'Architects Daughter', 'Verdana', sans-serif;
}

.container {
  display: flex;
}

.chessboard {
  width: 427px;
}

table#chessboard {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: center;
}

.options {
  margin-left: 25%;
  width: 50%;
}

button#new-game {
  height: 40px;
  width: 98%;
  font-size: 18px;
}

input#game-id {
  display: block;
  height: 30px;
  width: 98%;
  font-size: 14px;
}

input#join-game {
  display: block;
  height: 40px;
  width: 100%;
  font-size: 18px;
}

#message {
  margin-top: 50px;
  height: 20px;
  color: red;
}

.settings {
  flex-grow: 1;
  width: 110px;
  float:right;
  font-size: 12px;
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 18px;
  display: flex;
  height: 34px;
}

.gear {
  position: relative;
  width: 20px;
  margin-left: -40px;
}

#settings-menu {
  display: none;
  border: 1px #dadada solid;
  background-color: white;
  flex-grow: 1;
  margin-top: -30px;
  margin-left: 10px;
  height: 55px;
}

#settings-menu label {
  display: block;
}

.moves select {
  width: 138px;
  height: 427px;
  margin-left: 10px;
  font-family: monospace;
}