body {
  font-family: 'Architects Daughter', 'Verdana', sans-serif;
  width: 427px;
  margin: auto;
  text-align: center
}

table#chessboard {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: center;
}

.options {
  margin-left: 25%;
  width: 50%;
}

button#new-game {
  height: 40px;
  width: 98%;
  font-size: 18px;
}

input#game-id {
  display: block;
  height: 30px;
  width: 98%;
  font-size: 14px;
}

input#join-game {
  display: block;
  height: 40px;
  width: 100%;
  font-size: 18px;
}

#message {
  margin-top: 50px;
  height: 20px;
  font-family: 'Verdana';
  color: red;
}